[DefaultLogin]
email =
password =

[GeneralChatBehavior]
silent_join = no
join_message = "PyTIOBot has joined, ready to do stuff!"

[ChatDefaults]
prefix = !!/

[chat.stackexchange.com]
bot_uid =
enabled = no
autojoins =

[chat.stackoverflow.com]
bot_uid =
enabled = no
autojoins =

[chat.meta.stackexchange.com]
bot_uid =
enabled = no
autojoins =
